/*
===============
Pagination
===============
*/
.btn {
  padding: 0.35rem 0.75rem;
  font-size: 0.75rem;
  color: var(--clr-white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  background: #16161a;
  border-color: transparent;
  border-radius: var(--radius);
  transition: var(--transition);
}

.btn:hover {
  background-color: #fff;
}

.btn__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page__btn {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  cursor: pointer;
  background: #7f5bf0;
  border-color: transparent;
  border-radius: 50%;
  transition: var(--transition);
}

.active__btn {
  color: var(--clr-white);
  background: #a83dda;
}

.prev__btn,
.next__btn {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;

  /* color: rgb(100, 100, 100); */
  color: #93a1b1;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  cursor: pointer;
  background: transparent;
  border-color: transparent;
}

@media screen and (min-width: 48.4375rem) {
  .btn-container {
    max-width: 43.75rem;
    margin: 0 auto;
  }
}
