.container {
  position: relative;
  width: 100%;
  height: 3.125rem;
}

.icon {
  position: absolute;
  top: 0.625rem;
  right: 6.25rem;
  padding: 0.5rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 3.125rem;
  transition: 0.3s ease;
}

.req {
  position: absolute;
  top: 1.125rem;
  right: 1.25rem;
  color: #fff;
}

.icon:hover {
  cursor: pointer;
  background-color: #212d45;
  transform: scale(1.2);
}

.req:hover {
  cursor: pointer;
  background-color: #212d45;
  transform: scale(1.2);
}
