/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body {
  margin: 0;

  /* font-family: 'Roboto'; */
  font-size: 1.5em;

  /* background: #5930e5; */
  background: #16161a;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #fff;
}

.page-content {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 20px auto 80px;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  padding: 20px;
  background-color: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  transform: rotateZ(-1deg);
}

/*
===============
Pagination
===============
*/
.btn {
  padding: 0.35rem 0.75rem;
  font-size: 0.75rem;
  color: var(--clr-white);
  text-transform: uppercase;
  letter-spacing: 1.6px;
  cursor: pointer;
  background: #16161a;
  border-color: transparent;
  border-radius: var(--radius);
  transition: var(--transition);
}

.btn:hover {
  background-color: #fff;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-btn {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  cursor: pointer;
  background: #7f5bf0;
  border-color: transparent;
  border-radius: 50%;
  transition: var(--transition);
}

.active-btn {
  color: var(--clr-white);
  background: #a83dda;
}

.prev-btn,
.next-btn {
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(100, 100, 100);
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  cursor: pointer;
  background: transparent;
  border-color: transparent;
}

@media screen and (min-width: 775px) {
  .btn-container {
    max-width: 700px;
    margin: 0 auto;
  }
}
