.tool__card {
  transform: rotateZ(-1deg);
}

.tool__content {
  background: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  position: relative;
  top: -40px;
  left: -10px;
}

.tool__info {
  padding: 16px;
}
.tool__card__title {
  margin: 4px 0;
  text-transform: uppercase;
}
.tool_card_description {
  margin: 0;
  color: #777;
}
.tool_actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.tool_actions__link {
  color: #fff;
  background: #f01b29;
  padding: 16px 24px;
  text-decoration: none;
}
