.search {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 300px;
}
.input {
  background: #222531;
  border: none;
  padding: 16px;
  border-radius: 4px;
  outline: none;
  height: 100%;
  width: 100%;
  color: #e2e2e2;
}
.input::placeholder {
  color: #e2e2e2;
}
