.container {
  text-align: center;
  margin: 60px 0;
}

.link {
  text-decoration: none;
  /* color: black; */
  text-transform: uppercase;
  display: inline-block;
}

.headers {
  margin: 0;
}

/* .header__title__first {
  color: #ff9f43;
}
.header__title__second {
  color: #0abde3;
}
.header__title__third {
  color: #ee5253;
} */

.header__subtitle {
  font-size: 1.2em;
  font-weight: 400;
  color: #fffffe;
}

.header__title {
  font-size: 2.5rem;
  box-sizing: border-box;
  min-width: 0px;
  line-height: 1.2;
  margin: 0px;
  background: linear-gradient(
    110.78deg,
    rgb(118, 230, 80) -1.13%,
    rgb(249, 214, 73) 15.22%,
    rgb(240, 142, 53) 32.09%,
    rgb(236, 81, 87) 48.96%,
    rgb(255, 24, 189) 67.94%,
    rgb(26, 75, 255) 85.34%,
    rgb(98, 216, 249) 99.57%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* header span {
  display: block;
  line-height: 1em;
}
header span:first-child {
  font-size: 1em;
  font-weight: 400;
}
header span:last-child {
  font-size: 1.5em;
  font-weight: 800;
} */

/* .header__title__forth {
  color: #00d2d3;
}

.header__title__fifth {
  color: #5f27cd;
} */
